@import '../../variables/variables.css';

.Bio {
  position: relative; /* enables z-index */
  z-index: 2;
  margin-top: var(--spacingLG);
  margin-bottom:calc(-1 * var(--spacingXL));
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: var(--spacingMD);
}

.Bio-imgContainer,
.Bio-content {
  padding: var(--spacingLG);
}

.Bio-imgContainer {
  padding-right: 0;
}

.Bio-content {
  padding-left: 0;
}

.Bio-img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}