@import '../../variables/global.css';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacingMD) var(--spacingLG);
  font-family: var(--fontFamilySecondary);
  border-bottom: 3px solid #000; /* black is just a placeholder to be overidden */
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 600px) {
  .Button {
    width: auto;
  }
}

.Button--primary {
  background-color: var(--deepCerulean);
  color: var(--white);
  border-color: var(--bahamaBlue);
}

.Button--secondary {
  background-color: var(--white);
  color: var(--limedSpruce);
  border: 2px solid var(--deepCerulean);
}

.Button--ghost {
  background-color: var(--white);
  color: var(--limedSpruce);
  border-color: var(--grayNurse);
}