@import '../variables/variables.css';

.BlogPostTemplate {
  font-family: var(--fontFamilySecondary);

  & .Navigation-bar {
    background-color: var(--white);
  }
}

.BlogPostTemplate-title {
  background-color: var(--blueRibbon);
  color: var(--white);
  margin-top: -3rem;
}

.BlogPostTemplate-meta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--seaShell);
  padding: var(--spacingSM) var(--spacingMD);
  border-radius: var(--borderRadius);
  margin-bottom: var(--spacingMD);
}

.BlogPostTemplate-calendar {
  margin-right: var(--spacingSM);
}
