@import '../variables/variables.css';

.BlogPostTemplate {
  font-family: var(--fontFamilySecondary);
  min-height: 100vh;

  & .Navigation-bar {
    background-color: var(--white);
  }
}

.BlogPostTemplate-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; /* allows absolute positioning within */
  padding-top: var(--spacingLG);
  padding-bottom: var(--spacingXL);
}

.BlogPostTemplate-button {
  width: 100%;

  & + .BlogPostTemplate-button {
    margin-top: var(--spacingSM);
  }

  @media (min-width: 600px) {
    width: auto;
    position: absolute;

    & + .BlogPostTemplate-button {
      margin-top: 0;
    }
  }
}

.BlogPostTemplate-button--prev {
  @media (min-width: 600px) {
    left: 0;
  }
}

.BlogPostTemplate-button--next {
  @media (min-width: 600px) {
    right: 0;
  }
}
