@import '../../variables/variables.css';

.Resume-card + .Resume-card {
  margin-top: var(--spacingLG);
}

.Resume-skills {
  @media (min-width: 800px) {
    columns: 2;
    max-height: 30rem;
    column-gap: var(--spacingLG);
  }
}

.Resume-position {
  display: grid;
  grid-gap: var(--spacingLG);
  padding: var(--spacingMD) 0 var(--spacingLG);

  @media (min-width: 600px) {
    grid-template-columns: 3fr 5fr;
  }
}

.Resume-positionHeadingWrapper,
.Resume-dateRange {
  display: inline-block;
}

.Resume-positionSuperheadingWrapper {
  position: relative; /* allows absolute positioning within */

  @media (min-width: 600px) {
    transform: translateX(-1.75rem);
  }
}

.Resume-positionSuperheading {
  display: inline-flex;
  align-items: center;
  padding: var(--spacingSM) var(--spacingSM);
  padding-right: var(--spacingLG);
  font-family: var(--fontFamilySecondary);
  font-size: 1rem;
  font-weight: 400;
  height: var(--spacingLG);
  min-width: 100%;
  color: var(--white);
  margin-bottom: var(--spacingMD);
  background-color: var(--blueRibbon);
  position: relative; /* enables z-index */
  z-index: var(--layerMD);
  -webkit-clip-path: polygon(0 0, 0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 100%);
}

.Resume-positionSuberHeadingShadow {
  position: absolute;
  width: 75%;
  height: var(--spacingLG);
  display: inline-block;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--layerSM);
  box-shadow: 0 var(--spacingSM) var(--spacingSM) -0.25rem var(--semiTransparentBlack);
}

.Resume-dateRange {
  margin-top: var(--spacingSM);
  font-weight: 700;
  font-size: 0.85rem;
}

.Resume-positionSecondHalf {
  margin: 0;
  
  & ul {
    margin: 0;
  }
  
  @media (min-width: 600px) {
    border-left: 1px solid var(--semiTransparentBlack);
  }
}
