@import '../../variables/variables.css';

.BlogPostLayout-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; /* allows absolute positioning within */
  padding: var(--spacingLG) 0;
  
  @media (min-width: 600px) {
    margin-bottom: 2.5rem;
  }
}

.BlogPostLayout-button {
  width: 100%;

  & + .BlogPostLayout-button {
    margin-top: var(--spacingSM);
  }

  @media (min-width: 600px) {
    width: auto;
    position: absolute;

    & + .BlogPostLayout-button {
      margin-top: 0;
    }
  }
}

.BlogPostLayout-button--prev {
  @media (min-width: 600px) {
    left: 0;
  }
}

.BlogPostLayout-button--next {
  @media (min-width: 600px) {
    right: 0;
  }
}
