@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import '../../variables/variables.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-size: calc(15px + 0.25vw);
  font-family: var(--fontFamilyPrimary);
  color: var(--outerSpace);
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

p {
  margin-top: 0;
}
