@import '../../variables/global.css';

.Card {
  background-color: var(--white);
  border: 1px solid #F0F0F0;
  padding: var(--spacingMD);
  border-radius: 6px;
  box-shadow: 0 var(--spacingSM) var(--spacingMD) rgba(0, 0, 0, 0.1);
}
