@import '../../variables/variables.css';

.ArticleTitle {
  background-color: var(--blueRibbon);
  color: var(--white);
  margin-top: -3rem;
  padding-top: var(--spacingXXL);
  position: relative; /* enables use of z-index */
  z-index: 1;
}

.ArticleTitle-heading {
  position: relative;
  z-index: 3;
}

.ArticleTitle-overlay,
.ArticleTitle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ArticleTitle-overlay {
  z-index: 2;
  background-color: var(--blueRibbon);
  opacity: 0.85;
}

.ArticleTitle-image {
  z-index: 1;
  object-fit: cover;
}

.ArticleTitle-meta {
  position: relative;
  z-index: 3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: var(--spacingMD);
}

.ArticleTitle-calendar {
  margin-right: var(--spacingSM);
}