@import '../../variables/variables.css';

h1,
h2,
h3,
h4,
h5,
h6,
.Heading {
  font-family: var(--fontFamilyPrimary);
  font-weight: 700;
  line-height: 1.33;
}

/* 
Using modular scale:
https://www.modularscale.com/?1&em&1.25
*/
h1,
.Heading--1 {
  font-size: 3.052rem;
}

h2,
.Heading--2 {
  font-size: 2.441rem;
}

h3,
.Heading--3 {
  font-size: 1.953rem;
}

h4,
.Heading--4 {
  font-size: 1.563rem;
  opacity: 0.85;
}

h5,
.Heading--5 {
  font-size: 1.25rem;
  opacity: 0.85;
}

h6,
.Heading--6 {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-size: 1rem;
  opacity: 0.85;
}
