@import '../../variables/global.css';

:root {
  --headerHeight: 3rem;
}

.Header {
  height: var(--headerHeight);  
  position: relative;
  z-index: 2;
}

.Header a {
  text-decoration: none;
}

.Header-container {
  display: flex;
  justify-content: space-between;
}

.Header-brandLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacingMD);
  font-family: var(--fontFamilySecondary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--deepCerulean);
}