@import '../../variables/global.css';

.CardArticle {
  position: relative; /* allows absolute positioning within */
  color: var(--limedSpruce);
  margin: var(--spacingLG) 0;
  transition: transform var(--duration) var(--easing),
              box-shadow var(--duration) var(--easing);
}

.CardArticle p {
  font-size: 0.9rem;
  font-family: var(--fontFamilySecondary);
  line-height: 1.5;
}

.CardArticle:hover,
.CardArticle:focus {
  transform: scale(1.005) translateY(-2px);
  box-shadow: 0 var(--spacingMD) var(--spacingLG) rgba(0, 0, 0, 0.075);
}

.CardArticle-date {
  float: right;
  font-family: var(--fontFamilySecondary);
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--boulder);
}

.CardArticle-heading {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--limedSpruce);
  margin-bottom: var(--spacingSM);
}

.CardArticle-readMore {
  color: var(--deepCerulean);
  position: absolute;
  bottom: var(--spacingMD);
  right: var(--spacingMD);
}

.CardArticle-icon {
  fill: var(--deepCerulean);
  width: 1rem;
  height: 1rem;
}