@import '../../variables/variables.css';

.Footer {
  background-color: var(--seaShell);
  color: var(--outerSpace);
  font-family: var(--fontFamilySecondary);
  text-align: center;
}

.Footer p {
  margin: var(--spacingMD) 0;
}

.Footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacingXL);
}