@import '../../variables/variables.css';

.Highlight {
  position: relative; /* allows absolute positioning within */
}

.Highlight:after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 90%;
  height: var(--spacingMD);
  background-color: currentColor;
  border-radius: 0.125rem;
  opacity: 0.125;
}