@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro:400,600');
@import '../variables/global.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-size: calc(15px + 0.25vw);
  font-family: var(--fontFamilyPrimary);
  color: var(--limedSpruce);
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

p {
  margin-top: 0;
  font-size: 1rem;
}